body {
    background-color: #1B1B1A;
    color: #FFFFFF;
    font-family: 'Inter';
    font-size: 22px;
    margin: 0;
    padding: 0;
}

body,
section {
    margin: 0;
    padding: 0;
}

/* ------- */
/* Nav bar */
/* ------- */

.open_nav {
    position: fixed;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);
    padding: 1rem;
    padding-right: 0;

    z-index: 9998;

    transition: opacity 0.2s ease-in-out;
}

@media (max-width: 768px) {
    .open_nav {
        display: block;
        /* opacity: 1; */
    }

    .nav {
        display: none;
    }
}

@media (min-width: 768px) {
    .open_nav {
        display: none;
        /* opacity: 0; */
    }

    .nav {
        display: flex !important;
    }
}

.nav {
    flex-direction: column;
    justify-content: space-around;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    overflow-x: hidden;

    position: fixed;
    right: 1rem;
    top: 50%;
    transform: translate(0, -50%);

    width: 60px;
    /* width: 200px; */
    height: 344px;
    border-radius: 20px;
    border: 1px solid #FAF6ED;
    /* background: rgba(34, 34, 34, 0.00); */
    background-color: #1B1B1A;

    transition: width 0.5s ease-in-out;

    z-index: 9999;
}

.slide_in {
    animation: slideInRight 0.5s forwards;
}

@keyframes slideInRight {
    0% {
        transform: translate(100%, -50%);
        opacity: 0;
        display: flex;
    }

    100% {
        transform: translate(0, -50%);
        opacity: 1;
        display: flex;
    }
}

.slide_out {
    animation: slideOutRight 0.5s forwards;
}

@keyframes slideOutRight {
    0% {
        transform: translate(0, -50%);
        opacity: 1;
        display: flex;
    }

    100% {
        transform: translate(100%, -50%);
        opacity: 0;
        display: none;
    }
}

.nav_element {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: flex-start;
}

.icon {
    flex-shrink: 0;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    width: 30px;
    height: 30px;
}

.current_nav_element {
    color: #57CDC6;
}

.current_nav_element .image svg path {
    fill: #57CDC6;
}

.icon .image {
    position: relative;
    z-index: 2;
}

@media (min-width: 768px) {

    .nav:hover {
        width: 170px;
    }

    .nav .nav_element .label {
        display: none;
        transition: display 0.5s .5s ease-in-out;
    }

    .nav:hover .nav_element .label {
        display: block;
    }

    .icon .highlight1,
    .icon .highlight2,
    .icon .highlight3 {
        position: absolute;
        z-index: 1;
        background-color: #57CDC6;
        /* background-color: #fff; */
        border-radius: 50%;
        opacity: 0;
    }

    .icon .highlight1 {
        top: 3px;
        left: 0px;
        width: 130px;
        height: 120%;
        filter: blur(7px);
    }

    .nav_element:hover .icon .highlight1 {
        opacity: .1;
    }

    .icon .highlight2 {
        top: 3px;
        left: 10px;
        width: 100px;
        height: 50%;
        filter: blur(5px);
    }

    .nav_element:hover .icon .highlight2 {
        opacity: .05;
    }

    .icon .highlight3 {
        top: -5px;
        left: 5px;
        width: 120px;
        height: 90%;
        filter: blur(4px);
    }

    .nav_element:hover .icon .highlight3 {
        opacity: .05;
    }
}

@media (max-width: 768px) {
    .nav {
        right: 10px;
        width: 40px;
        border-radius: 15px;
        font-size: 12px;
    }

    .nav_element .label {
        display: none;
    }

    .icon {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
}

/* --------- */
/* hero page */
/* --------- */

.hero {
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.hero_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: center;
    justify-content: center; */
    max-width: 600px;
    padding: 20px;
    z-index: 2;
    margin: 2rem;
}

.profile_picture {
    margin: 1rem;
}

.profile_picture img {
    width: 300px;
    /* height: 376px; */
    border-radius: 35px;
}

@media (max-width: 768px) {
    .profile_picture img {
        width: 200px;
        /* height: 376px; */
        border-radius: 35px;
    }
}

.name {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.first_name {
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
    margin-right: .5rem;
}

.family_name {
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: .5rem;
}

.interested_in {
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 4rem;
}

.interest_keywords {
    font-family: monospace;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    margin-top: 1rem;
}

@media (max-width: 768px) {
    .interested_in {
        margin-top: 2rem;
    }

    .interest_keywords {
        font-size: 30px;
    }
}

/* ---------- */
/* CV ------- */
/* ---------- */

/* .cv {
    height: 100vh;
    display: flex;
    flex-direction: row;
} */

.cv {
    /* height: 500%; */
    overflow-x: hidden;
    position: relative;
    /* width: 30%; */
    margin: 50px auto;
    padding-left: 20px;
    /* Adjust for left padding */
    background-color: #1B1B1A;
    /* Background color for the timeline */
}

.space {
    height: 100px;
}

.timeline_item {
    display: flex;
    margin-bottom: 20px;
    width: 90%;
}

/* heading */

.heading {
    position: relative;
    left: -50px;
    display: flex;
    flex-direction: column;
    background-color: #101010;
    color: #fff;
    text-align: left;
    /* padding: 10px; */
    padding-left: 200px;
    margin-bottom: 20px;
    width: 100vw;

    padding-bottom: 30px;
    padding-top: 30px;
}

.timeline_subtitle {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: .5rem;

    margin-bottom: 10px;
}

.timeline_title {
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* marker */

.marker {
    flex-shrink: 0;
    position: relative;
    transform: translate(0%, 20px);
    left: 115px;

    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 8001;
    /* margin-right: 10px; */
}

.hidden {
    opacity: 0;
}

/* content */

.timeline_item_content {
    /* position: relative; */
    max-width: 50%;
    left: 150px;
    padding: 15px;
    padding-left: 150px;
    /* background-color: rgba(255, 255, 255, .05); */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */

    z-index: 0;
}

.timeline_item_content .date {
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;

    margin-top: 0px;
    /* margin-bottom: 20px; */
}

.timeline_item_content .event {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    line-height: normal;

    margin-top: 10px;
    /* margin-bottom: 20px; */
}

.timeline_item_content .event .main {
    font-weight: 400;
}

.timeline_item_content .event .sub {
    font-weight: 100;
}

.timeline_item_content .info {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;

    margin-top: 10px;
    /* margin-bottom: 20px; */
}


/* @media (max-width: 768px) {
    .cv {
        width: 90%;
    }
} */

.line {
    position: absolute;
    width: 1px;
    height: 100%;
    background-color: #D9D9D9;
    left: 140px;
    transform: translateX(-50%);

    z-index: 1000;
}

/* languages */

.languages {
    display: table;
    max-width: 50%;
}

.languages_body {
    display: table-row-group;
}

.languages_item {
    display: table-row;
}

.languages_item>div {
    display: table-cell;
    padding: 20px;
    padding-bottom: 10px;
    text-align: justify;
}

.language_name {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.language_level {
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}